.container{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}

svg{
    width: 30px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}



.escolhas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


.opcao{
    cursor: pointer;
    border: 2px solid transparent;
    padding: 10px;
    transition: .3s;
}

.opcao img{
    width: 50px;
    position: relative;
    z-index: 1;
}

.opcao.selecionado{
    border-color: #353432;
    transform: scale(1.05);
}
.opcao{
    position: relative;
}


.opcao.selecionado::after{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.6);
    z-index: 2;
    pointer-events: none;
}
.AbaOrcamento{
    width: 400px;
    background-color: #353432;
    color: aliceblue;
    position: fixed;
    inset: 0 -400px 0 auto ;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
body.mostrarOrcamento .AbaOrcamento{
    inset: 0 0 0 auto;
}

body.mostrarOrcamento .container{
    transform: translateX(-250px);

}
.AbaOrcamento h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;

}

.AbaOrcamento .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.AbaOrcamento .btn button{
    background-color: yellow;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.AbaOrcamento .btn .fechar{
    background-color: aliceblue;
}