
.container{
    display: flex;
    flex-direction: row;
    background-color: aqua;
    margin: 20px;
    height: 100%;
    width: 90%;
    border-radius: 20px;
}
.areaForm{
    width: 80%;
}
.form-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
}

.input-group{
    display: grid;
   grid-template-columns: 40% 40%;
   margin: 10px;
   align-items: center;
   justify-content: center;
}

.input-box{
    display: flex;
    flex-direction: column;
}
body{
    display: flex;
    justify-content: center;
}

#instalacao, #puxadores{
    height: 15px;
    width: 100px;
}

input{
    height: 30px;
    width: 200px;  
    border-radius: 5px;
}

.botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    height: 90px;
    width: 60%;
}

button{
    width: 100px;
    height: 40px;
}





