
.container{
    display: flex;
    flex-direction: row;
    background-color: aqua;
    margin: 20px;
    height: 100%;
    width: 90%;
    border-radius: 20px;
}


.areaForm{
    width: 80%;
}
.form-header{
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
}

.input-group{
    background-color: blue;
    display: grid;
   grid-template-columns: 40% 40%;
   margin: 10px;
   align-items: center;
   justify-content: center;
}

.input-box{
    background-color: chocolate;
    display: flex;
    flex-direction: column;
}
body{
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#instalacao, #puxadores{
    height: 15px;
    width: 100px;
}

input, select{
    height: 30px;
    width: 200px;  
    border-radius: 5px;
}

.botoes{
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    height: 90px;
    width: 60%;
}

button{
    width: 100px;
    height: 40px;
}


.total-group{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
   
}

.total-box{
    height: 40px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-left: 1px;
    margin-right: 10px;

}



