
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: aqua;
    margin: 20px;
    height: 100%;
    width: 90%;
    border-radius: 20px;
}

body{
    display: flex;
    justify-content: center;
}


input{
    height: 15px;
    width: 150px;
    
}



form{
    display: flex;
    flex-direction: column;

    }

button{
    width: 90px;
    height: 40px;
}

.botoes{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-around;
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

.input-box{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}
